* {
    background-color: floralwhite;
h1 {
    color: #c00;
    font-family: sans-serif;
    font-size: 30px;
    margin-bottom: 0;
    margin-left:20px;
}

table, th, td {
    font-family: sans-serif;
    border: 1px solid black;
}

{
    padding: 25px 5px;
    text-align: left;
}

{
    text-align: right;
}



td {
    background-color: #eee;
}

th {
    background-color: #000;
    color: #fff;
}



.zigzag {
    border-collapse: separate;
    border-spacing: 25px 5px;
    margin-top:10px;
    margin-left:100px;
    
}

{
    transform: rotate(2deg);
}

